---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: metrics-server
  namespace: kube-system
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: metrics-server
  namespace: kube-system
  labels:
    k8s-app: metrics-server
spec:
  selector:
    matchLabels:
      k8s-app: metrics-server
  template:
    metadata:
      name: metrics-server
      labels:
        k8s-app: metrics-server
    spec:
      serviceAccountName: metrics-server
      volumes:
      # mount in tmp so we can safely use from-scratch images and/or read-only containers
      - name: tmp-dir
        emptyDir: {}
      - name: metrics-server-secrets
        secret:
           secretName: metrics-server-certs
      containers:
      - name: metrics-server
        image: gcr.io/google_containers/metrics-server-amd64:v0.2.1
        imagePullPolicy: Always
        command:
        - /metrics-server
        - --source=kubernetes:https://master.cfcr.internal:8443?useServiceAccount=true&kubeletHttps=true&kubeletPort=10250&insecure=true
        - --client-ca-file=/var/run/kubernetes/client-ca.crt
        - --requestheader-client-ca-file=/var/run/kubernetes/requestheader-client-ca.crt
        - --tls-cert-file=/var/run/kubernetes/client.crt
        - --tls-private-key-file=/var/run/kubernetes/client.key
        volumeMounts:
        - name: tmp-dir
          mountPath: /tmp
        - name: metrics-server-secrets
          mountPath: /var/run/kubernetes

