export ROUTESYNC_NATS_SERVERS='[
	{
		"Host": "10.0.0.8:4222",
		"User": "nats",
		"Password": "UAA Password for nats"
	}
]'
export ROUTESYNC_CLOUD_FOUNDRY_API_URL='https://api.cf.example.org'
export ROUTESYNC_CLOUD_FOUNDRY_APP_DOMAIN_NAME='apps.cf.example.org'
export ROUTESYNC_UAA_API_URL='https://api.cf.example.org'
export ROUTESYNC_ROUTING_API_USERNAME='routing uaa username'
export ROUTESYNC_ROUTING_API_CLIENT_SECRET='aabbcc'
export ROUTESYNC_SKIP_TLS_VERIFICATION='true'
export ROUTESYNC_KUBE_CONFIG_PATH='/home/<username>/.kube/config'
